
div {
    margin: auto;
    width: 70%;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: maroon;
}

p{
    color: purple;
    border: 1px solid orange;
    padding: 5px;
}

h2{
    color: peru;
}
